:root {
  /*** Colors ***/
  --purple: #b39ddb;
  --dark-purple: #2e1233;
  --purple-white: #faf8fc;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: lighten(var(--purple), 50%);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--purple);
}

::selection {
	background: var(--purple);
	color: white;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--purple-white);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: black;
}